@import "../../../scss/colors";
@import "../../../scss/font";

.TopUsersWrapper {
  height: 1300px;
  position: relative;


  .bottomLine1 {
    width: 0;
    height: 0;
    border-bottom: 90px solid $backgroundPageColor;
    border-right: 50vw solid transparent;
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .bottomLine2 {
    width: 0;
    height: 0;
    border-bottom: 90px solid $backgroundPageColor;
    border-left: 50vw solid transparent;
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bottomLineDop1 {
    width: 0;
    height: 0;
    border-bottom: 130px solid $backgroundElementColor;
    border-right: 50vw solid transparent;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .bottomLineDop2 {
    width: 0;
    height: 0;
    border-bottom: 130px solid $backgroundElementColor;
    border-left: 50vw solid transparent;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
  }


  h2 {
    padding: 120px 0 0 80px;
  }

  .TopUsersCardWrapper {
    .TopUsersCard {

    }
  }

  .visor1 {
    width: 319px;
    height: 365px;
    background-image: url("../../../resourses/images/homePage/gast.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 130px;
    left: 50px;
    z-index: 9999;
  }

  .visor2 {
    width: 219px;
    height: 251px;
    background-image: url("../../../resourses/images/homePage/gast.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -50px;
    left: 300px;
    z-index: 9999;
  }

  .visor3 {
    width: 208px;
    height: 237px;
    background-image: url("../../../resourses/images/homePage/gast 2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 60px;
    z-index: 9999;
  }

  .visor4 {
    width: 143px;
    height: 163px;
    background-image: url("../../../resourses/images/homePage/gast 2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 250px;
    right: 200px;
    z-index: 9999;
  }

}