//Background
$backgroundPageColor: #230104;
$backgroundElementColor: #CC4852;
$backgroundFormColor: #D9D9D9;

//Text
$mainTextColor: #FFFFFF;
$smallTextColor: #933535;
$priceTextColor: #139049;

//Button
$oneButtonColor: #933535;
$twoButtonColor: #139049;