//Background
$backgroundPageColor: #230104;
$backgroundElementColor: #CC4852;
$backgroundFormColor: #D9D9D9;
$transparentBackground: #230104B5;
$shadowColor: #4a1515e4;
$bottomCardColor: #933535;
$headerColor: rgba(21, 6, 6, 0.61);

//Text
$mainTextColor: #FFFFFF;
$smallTextColor: #933535;
$priceTextColor: #139049;
$inputTextColor: #9C9C9C;
$vechiTextColor: rgba(255, 255, 255, 0.46);

//Button
$oneButtonColor: #933535;
$twoButtonColor: #139049;