@font-face {
  font-family: "JapaneseRegular";
  src: local("JapaneseRegular"),
  url("../resourses/fonts/Japanese Robot.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PressStartRegular";
  src: local("PressStartRegular"),
  url("../resourses/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
}